@import url('https://fonts.googleapis.com/css?family=Roboto:100,400');

body {
  background-color: #FFFFFF;
  color: #000000;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  margin: 0 auto;
  overflow-x: hidden;
  position: relative;
}
.section-header {
  color: #E2B21A;
  font-style: italic;
  text-transform: uppercase;
  font-size: 42pt;
  font-weight: 100;
}
h1.section-header {
  font-weight: 100;
}
.title {
  height: 100vh;
  background-image: url("assets/title-image.jpg");
  background-color: white;
  background-size: cover;
  text-align: center;
}

.logo-row {
  height: 75vh;
}
.navbar > li > a {padding-top:5px !important; padding-bottom:5px !important;}
.navbar {min-height:32px !important}

.img-fluid.title-logo {
  max-height: 500px;
  background-color: white;
  border-radius: 100%;
  padding: 10px;
}
.about-split {
  margin: 0 auto;
  margin-top: 180px;
  border-top: 40px;
  text-align: center;
  background-image: url("assets/about-picture.jpg");
  background-size: cover;
  min-height: 100vh;
  border-bottom: 1px solid grey;
}
.about-row {
  height: 50vh;
  transform: translateY(50%);
}
.about-text-box {
  padding: 0;
  max-width: 90vw;
}

.white-background {
  height: 120%;
  width: 120%;
  position: absolute;
  transform: translateX(-8%) translateY(-10%);
  z-index: -19;
  background-color: white;
  opacity: 0.95;
}
.about-split-text {
  margin-top: 30px;
  margin-left: 15px;
  margin-right: 15px;
  font-weight: 400;
  font-size: 15pt;
  max-width: 90%;
}
.about-img {
  margin: 0 auto;
  max-width: 200px;
}
.three-col {
  margin: 0 auto;
  margin-top: 200px;
  padding-bottom: 200px;
  text-align: left;
  max-width: 90vw;
}
.three-col-border {
  border-right: 1px solid grey;
}
.three-col-img {
  max-height: 150px;
  margin-top: 50px;
  padding-top: 5px;
  display: block;
  margin: auto;
}
.three-col-header {
  text-align: center;
  margin-top: 25px;
  font-weight: 300;
  color: #E2B21A;
  text-transform: uppercase;
}
.mockup-img {
  max-width: 150px;
}
.three-col-text {
  margin: 50px;
  margin-top: 25px;
  font-size: 15pt;
  text-align: center;
}
.sign-up-row {
  height: 50vh;
  transform: translateY(50%);
}
.sign-up-split {
  text-align: center;
  height: 100vh;
  background-image: url("assets/woman-bags.png");
  background-size: cover;
}
.sign-up-right {
  padding-top: 130px;
  padding-bottom: 130px;
  border-right: 1px solid grey;
}
.sign-up-header {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.sign-up-button {
  border-radius: 8px;
  background-color: #E2B21A;
  color: white;
  border: 0;
  padding: 5px;
  padding-left: 30px;
  padding-right: 30px;
}
.sign-up-subheader {
  margin-top: 8px;
  font-style: italic;
  font-weight: 200;
  font-size: 15pt;
}
.sign-up-ul {
  list-style-type: none;
  margin-left: 25%;
  text-align: left;
}
.sign-up-li {
  font-style: italic;
  font-weight: 200;
  font-size: 13pt;
}
.partner-signup {
  margin-top: 200px;
}
.partner-signup-row {
  height: auto;
}
.video-cont {
  visibility: hidden;
}
.grey-underline {
  border-bottom: 0.25pt solid;
  border-color: #B3B3B3;
  padding-bottom: 3px;
  width: 100%;
}
.partner-subheader {
  width: 80%;
  margin: 0 auto;
  margin-top: 10px;
  text-align: center;
}
.partner-text {
  font-size: 15pt;
  display: block;
  max-width: 80%;
  margin: 0 auto;
}
.partner-iama {

}
.contact-info {
  margin-top: 200px;
  min-height: 300px;
  padding-bottom: 50px;
  background-color: black;
}
.email-label {
  margin-top: 8px;
}
.contact-header {
  padding-top: 20px;
}
.contact-icon {
  max-width: 60px;
}
.partner-input-group {
  max-width: 80%;
  margin: 0 auto;
}
.img-half {
  width: 100%;
  max-height: 100%;
}
.media-link {
  text-align: left;
}
.media-img {
  color: white;
  display: inline;
  max-width: 50px;
}
.media-text {
  color: white;
  text-align: left;
  margin-left: 10px;
  margin-top: 7px;
}
.social-link {
  margin-top: 20px;
  transform: translateX(38%);
}
.navbar {
  opacity: 0.7;
}
footer {
  color: white;
  margin-top: 30px;
}
@media (max-width: 767px) {
    /* CSS goes here */
    body {
      overflow-x: hidden;
    }
    .about-row {
      margin-left: 50px;
    }
    .about-text-box > .white-background {
      transform: translateX(-3%) translateY(-7%);
    }
    .three-col-border {
      border: 0;
    }
    .sign-up-row {
      transform: translateY(30%);
      margin: 0 auto;
      width: 70vw;
    }
    .white-background {
      width: 100%;
      transform: translateX(-5%) translateY(-5%);
    }
    .whitebackground
    .partner-text-col {
      margin-top: 30px;
    }

}




.downArrow{
  margin-top: 25px;
}
.bounce {
	-moz-animation: bounce 3s infinite;
	-webkit-animation: bounce 3s infinite;
	animation: bounce 3s infinite;
}
@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
